<h1>Editing appserver</h1>

<%= render "form", appserver: @appserver %>

<br>

<div>
  <%= link_to "Show this appserver", @appserver %> |
  <%= link_to "Back to appservers", appservers_path %>
</div>
