<h1>Editing operatingsystem</h1>

<%= render "form", operatingsystem: @operatingsystem %>

<br>

<div>
  <%= link_to "Show this operatingsystem", @operatingsystem %> |
  <%= link_to "Back to operatingsystems", operatingsystems_path %>
</div>
