<div id="<%= dom_id appserverstatus %>">
  <p>
    <strong>Name:</strong>
    <%= appserverstatus.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= appserverstatus.description %>
  </p>

</div>
