<h1>Editing appserverstatus</h1>

<%= render "form", appserverstatus: @appserverstatus %>

<br>

<div>
  <%= link_to "Show this appserverstatus", @appserverstatus %> |
  <%= link_to "Back to appserverstatuses", appserverstatuses_path %>
</div>
