<div id="<%= dom_id appserver_version %>">
  <p>
    <strong>Appserver:</strong>
    <%= appserver_version.appserver_id %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= appserver_version.version %>
  </p>

</div>
