<h1>Editing appserver version</h1>

<%= render "form", appserver_version: @appserver_version %>

<br>

<div>
  <%= link_to "Show this appserver version", @appserver_version %> |
  <%= link_to "Back to appserver versions", appserver_versions_path %>
</div>
