

  <p style="color: green"><%= notice %></p>

<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">Application Codes</h1>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">List of Application Codes</h5>
            <%= link_to "New app code", new_app_code_path %>
            <div id="app_codes">

              <table class="table table-hover my-0">
                <thead>
                <tr>
                  <th>Name</th>
                  <th class="d-none d-xl-table-cell">Description</th>
                  <th class="d-none d-xl-table-cell">Manager</th>
                  <th class="d-none d-md-table-cell">Manager Email</th>
                  <th class="d-none d-md-table-cell">Support Email</th>
                  <th class="d-none d-md-table-cell">Action</th>
                </tr>
                </thead>
                <tbody>
                <% @app_codes.each do |app_code| %>
                  <%= render app_code %>
                <% end %>
                </tbody>
              </table>
            </div>


          </div>
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
<% content_for :footer do %>
  <%= render :partial => "layouts/footer" %>
<% end %>

